SEOUL_OPEN_API_KEY=your_api_key_here
SEOUL_RESERVATION_API_KEY=your_reservation_api_key_here
NEXT_PUBLIC_KAKAO_JAVASCRIPT_KEY=your_kakao_javascript_key_here
KAKAO_REST_API_KEY=your_kakao_rest_api_key_here
